---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

h2{
  color: #FF9494;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.row .title{
  margin-top: 10px;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #060810;
  border: 2px solid #FF9494;
}

.resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #FF9494;
  position: relative;
}

.resume-item ul {
  padding-left: 20px;
}

.resume-item ul li {
  padding-bottom: 10px;
}

.resume-item time {
  display: inline-block;
  background: #060810;
  font-size: 16px;
  padding: 5px 15px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #FFD1D1;
  border-radius: 4px;
  margin-bottom: 10px;
}

.resume-item h4 {
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;
}

.content img{
  width: 100px;
  height: 100px;
}