---
layout: archive
---

{{ content }}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->
<!--<h3 class="archive__subtitle"> My Posts </h3>-->
<!--{% if paginator %}-->
<!--  {% assign posts = paginator.posts %}-->
<!--{% else %}-->
<!--  {% assign posts = site.posts %}-->
<!--{% endif %}-->

<!--{% assign entries_layout = page.entries_layout | default: 'list' %}-->
<!--<div class="entries-{{ entries_layout }}">-->
<!--  {% for post in posts %}-->
<!--    {% include archive-single.html type=entries_layout %} <br/>-->
<!--  {% endfor %}-->
<!--</div>-->

<!--{% include paginator.html %}-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>안녕하세요 개발자 조영미입니다!</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v1.5.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;subset=korean" rel="stylesheet">
  <!-- Animate.css -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="css/icomoon.css">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="css/bootstrap.css">

  <!-- Theme style  -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Modernizr JS -->
  <script src="js/modernizr-2.6.2.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap" rel="stylesheet">
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <style>
    #font1
    {
      font-family: 'Black Han Sans', sans-serif;
      color:rgb(12, 12, 11);
    }
    #font2
    {
      font-family: 'Black Han Sans', sans-serif;
      color:d2d2d2;
    }
    #font3
    {
      font-family: 'Black Han Sans', sans-serif;
      color:antiquewhite;
    }
  </style>
</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">About Me! Cho Yeong Mi</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#services"><i class="bx bx-server"></i>Skill</a></li>
        <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

      </ul>
    </nav>
<!--    <nav class="nav-menu">-->
<!--      {% assign entries_layout = page.entries_layout | default: 'list' %}-->
<!--      <div class="entries-{{ entries_layout }}">-->
<!--        {% for post in posts %}-->
<!--        {% include archive-single.html type=entries_layout %} <br/>-->
<!--        {% endfor %}-->
<!--      </div>-->
<!--    </nav>-->
    <!-- .nav-menu -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Cho Yeong Mi</h1>
    <p><span class="typed" data-typed-items="I'm Backend Developer"></span></p>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= 자기소개 섹션 ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About Me</h2>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/images/gif/oomi.gif" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Backend Developer</h3>
          <p id="font1">백엔드 개발자 조영미입니다.</p>
          <p id="font1">
            운영자와 개발자의 인터페이스가 되고 싶은 개발자입니다.<br/>
            <li>Skills :<br/>
              - Java <br/>
              - Spring Framework, Spring Boot 3
              - Spring Quartz
              - Jpa
            </li>
            <li>DataBase :<br/>
              - Oracle
              - PostgreSQL
              - MySQL
            </li>
            <li>Infra :<br/>
              - Linux
              - Docker
              - Jenkins
              - AWS
            </li>
            <li>Tools:<br/>
              - IntelliJ
              - Notion
              - Figma
            </li>
            <li> GIS : <br/>
              - openLayers
              - GeoServer
              - Qgis
            </li>
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>이름:</strong> 조 영 미</li><br/>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> 010-4439-6558</li><br/>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> whdudal1217@naver.com</li><br/>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <!-- 내 기술 섹션 -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <!--언어-->
        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="icofont-computer"></i></div>
            <h4 class="title"><a href="">Language</a></h4>
            <p class="description">
              JAVA<br/>
              C#<br/>
              Python<br/>
              JavaScript ES5<br/>
              Vue.js<br/>
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="far fa-file-code"></i></div>
            <h4 class="title"><a href="">Framework</a></h4>
            <p class="description">
              Spring Framework, Spring Boot 3<br/>
              Spring Quartz<br/>
              Jpa<br/>
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="fas fa-database"></i></div>
            <h4 class="title"><a href="">DataBase(DB)</a></h4>
            <p class="description">
              Oracle<br/>
              PostgreSQL<br/>
              MySql
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="fas fa-cloud"></i></div>
            <h4 class="title"><a href="">Infra</a></h4>
            <p class="description">
              Linux <br/>
              Docker <br/>
              Jenkins <br/>
              AWS
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="fas fa-tools"></i></div>
            <h4 class="title"><a href="">Tools</a></h4>
            <p class="description">
              IntelliJ <br/>
              Notion <br/>
              Figma
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="fas fa-tools"></i></div>
            <h4 class="title"><a href="">Gis</a></h4>
            <p class="description">
              OpenLayers <br/>
              GeoServer <br/>
              Qgis
            </p>
          </div>
        </div>

      </div>
    </section>

    <!-- 내 경력 섹션 -->
    <section id="resume" class="resume">
      <div class="container">
        <div class="section-title">
          <h2>My Experience</h2>
        </div>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Education</h3>
            <!--대학교-->
            <div class="resume-item">
              <h4>대전보건대학교</h4>
              <h5>2017 - 2021</h5>
              <p>컴퓨터정보과 졸업</p>
              <ul>
                <li>
                  대학교에서 Python 언어, Flask, MySql을 이용한 프로젝트 2개를 완성했습니다.
                  운영체제, 자료구조, 컴퓨터구조, 데이터베이스, 데이터통신, 컴퓨터보안, C언어, 알고리즘 등 전공필수 및 개발에 필요한 교양 수업을 이수했습니다.
                </li>
              </ul>
            </div>
          </div>

          <!--자격증-->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Certificate</h3>
            <div class="resume-item">
              <h4>정보처리기사 합격</h4>
              <h5>2021.11</h5>
              <!--<p><img src="assets/img/Salesforce_Admin.png"  style="max-width: 30%;" alt=""></p>-->
              <p>
              </p>
            </div>
            <div class="resume-item">
              <h4>SQLD 합격</h4>
              <h5>2021.12</h5>
<!--              <p><img src="assets/img/Salesforce_Developer.png"  style="max-width: 30%;" alt=""></p>-->
              <p>
              </p>
            </div>
            <div class="resume-item">
              <h4>컴퓨터활용능력 2급</h4>
              <h5>2019.09</h5>
              <p><img src="assets/img/Salesforce_AppBuilder.png"  style="max-width: 30%;" alt=""></p>
              <p>
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">External activities</h3>
            <div class="resume-item">
              <h4>DBian - SQL tunning class</h4>
              <h5>2021.02</h5>
              <p>Oracle 성능 고도화 책을 바탕으로 SQL 튜닝 방법 교육</p>
              <ul>
                <li>DBian의 조시형 선생님께서 직접 진행하는 수업이었습니다.
                  Oracle의 구조를 통해 RDBMS의 기초에 대한 이해 및 Optimizer의 원리를 배웠습니다.
                  SQL 튜닝의 기본을 공부했으며 배운 이론을 실습을 통해 배웠습니다.
                  index 설계법을 배웠습니다.
                  실습에선 sql 통계를 직접 해보고 옵티마이저의 원리를 이해했습니다.
                  많은 sql 을 작성하며 쿼리튜닝 전과 후의 실행시간을 직접 비교했습니다.
                  index의 원리를 실습을 통해 이해할 수 있었습니다.
                </li>
                <li>목차:<br/>
                  - 1. 오라클의 이해<br/>
                  - 2. 튜닝의 기본<br/>
                  - 3. 튜닝의 원리<br/>
                  - 4. 튜닝 실습<br/>
                  - 5. index 설계법
                </li>
                <li>Git : https://github.com/choomi1217/tuning</li>
              </ul>
            </div>
          </div>

          <!--경력-->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Career</h3>

            <!--SK ECO PLANT PROJECT-->
            <div class="resume-item">
              <h4>주소정보누리집 - 도로명 장부 개발</h4>
              <h5>2021.03 - 2021.06</h5>
              <h6>전국 도로명 주소의 사용 여부를 조사하기 위한 장부를 개발 했습니다.</h6>
              <ul>
                <!--Ex. 직원 정보,현장 소송,하자보수비, 일일업무 보고, 보고서), 공문관리, 전자결재 프로세스 IF연계 개발, 마이그레이션-->
                <li>구 시스템 구조 분석과 요구사항 확인 분석 및 설계 <br/>
                  ex) 직원 정보,현장 소송,하자보수비, 하자보수비 보고서, 공문관리, 전자결재</li>
                <li>EAI 연계 직원정보 관리 및 개발</li>
                <li>EAI 연계 전자결재 정보 전송 개발 및 관리</li>
                <li>하자보수비<br/>
                  - SAP 연계 하자보수비 전표 관리 개발<br/>
                  - 하자보수비 프로세스 개발<br/>
                  - 하자보수비 보고서 개발<br/>
                  - 하자보수비 전표 마이그 작업
                </li>
                <li>전체 보고서 확인 할 수 있는 화면 개발</li>
                <li>Salesforce와 Tableau SSO 연동 작업</li>
                <li>배치 및 트리거 개발</li>
              </ul>
            </div>

            <!--SK ECO PLANT PROJECT 운영-->
            <div class="resume-item">
              <h4>SK ECO Plant CRM 구축 (운영)</h4>
              <h5>2022.05. 01. ~ 2022. 09. 30.</h5>
              <p>Salesforce, Aura, Visualforce, Apex, Trigger, Heroku</p>
              <ul>
                <li>운영업무 및 고객 대응</li>
                <li>하자보수비 안정화 및 개발</li>
                <li>일일업무 보고서 안정화 및 개발</li>
                <li>Heroku 및 IF 모니터링</li>
                <li>EventLog 보고서 작성</li>
                <li>배치 및 트리거 추가 및 개선 개발</li>
              </ul>
            </div>

            <!--SAMSUNG : 삼성전자 LED 사업팀 SFDC기반 시스템 구축-->
            <div class="resume-item">
              <h4>삼성전자 LED 사업팀 SFDC기반 시스템 구축</h4>
              <h5>2022.09. 30. ~ 2023. 03. 31.</h5>
              <p>Salesforce, Aura, Visualforce, LWC, Apex, Trigger, Flow, JIRA</p>
              <ul>
                <li>고객 요구사항 확인 분석 및 설계</li>
                <li>KNOX Mail 및 KNOX Approval 공통 개발</li>
                <li>MeetingMinutes 개발</li>
                <li>Highlight 주간보고서 작성 기능 개발</li>
                <li>CafeEditor 공통 개발</li>
                <li>IF 모니터링</li>
                <li>배치 및 트리거 개발</li>
              </ul>
            </div>

          </div>

        </div>

      </div>
    </section>
    <!-- End Resume Section -->
    <!-- ======= Portfolio Section ======= -->
    <!-- <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <h4>이미지 클릭시 프로젝트 페이지로 이동합니다.</h4>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-JSP">JSP</li>
              <li data-filter=".filter-Eclipse">Model1,Model2</li>
              <li data-filter=".filter-Spring">Spring</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100"> -->
    <!--팀프로젝트-->
    <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-Spring">
     <div class="portfolio-links">
      <a href="http://lms-y.kro.kr/lms/login" target="_blank"><img src="assets/img/portfolio-1.png" class="img-fluid" alt=""></a>
      <p>
        <h4>
          <a class="portfolio-links" href="https://github.com/goodee-project/LMS-Y" target="_blank">
            [Github Link]
          </a>
        </h4>
      </p>
        <h4>팀 프로젝트 - LMS</h4>
        <hr>
          <p>프로젝트 기간 : 2020.12 ~ 2021.1(6주)</p>
        <hr>
          <p>프로젝트 방식 : Spring MVC</p>
          <p>프로젝트 도구 : Eclipse, Spring-tool-suite, Mariadb, Github, Maven</p>
          <p>사용 언어 : Html, Java, SQL, JavaScript(jquery), MyBatis, JSTL, bootstrap</p>
        <hr>
        <p>
          [프로젝트 설명]<br>
          Spring Framework를 사용하여 처음으로 팀 프로젝트로 진행한 LMS프로젝트 입니다.<br>
          학습관리 시스템으로써 모든걸 총괄하는 운영자, 강좌를 진행하는 강사, 강좌를 수강하는 학생이 존재하며
          운영자의 가입만을 승인하는 관리자가 존재합니다.<br>
          기본적인 기능으로는 수강, 출석, 과제, 최종평가 등의 학습을 관리할 수 있는 기능이 존재하며<br>
          부가적인 기능으로는 마지막 로그인 날짜에서 6개월간 로그인 기록이 존재하지 않는 유저를 휴면처리하는
          기능을 스프링의 스케줄러 에노테이션으로 구현하였습니다.<br>
          또한 비밀번호를 잃어버렸을 경우 이메일로 임시 비밀번호를 발급해주는 기능을 위해 Naver SMTP를 사용하였습니다.
        </p>
    </div>
    </div> -->
    <!--가계부 개인프로젝트-->
    <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-Spring">
      <div class="portfolio-links">
       <a href="http://baebae98.kro.kr/cash/" target="_blank"><img src="assets/img/portfolio-2.png" class="img-fluid" alt=""></a>
       <p>
        <h4>
          <a class="portfolio-links" href="https://github.com/baebae98/cashbook" target="_blank">
            [Github Link]
          </a>
        </h4>
      </p>
       <h4>개인 프로젝트 - 가계부</h4>
       <hr>
         <p>프로젝트 기간 : 2020.11(2주)</p>
       <hr>
         <p>프로젝트 방식 : Spring MVC</p>
         <p>사용 프로그램 : Eclipse, Spring-tool-suite, Mariadb, Github, Maven</p>
         <p>사용 언어 : Html, Java, SQL, JavaScript(jquery), MyBatis, JSTL, bootstrap</p>
       <hr>
       <p>
         [프로젝트 설명]<br>
         Spring Framework를 사용한 첫 프로젝트입니다.<br>
         주요 기능으로는 캘린더 API를 이용한 달력으로 가계부를 구성하는 기능이 있으며
         기본적인 기능인 로그인, 사용자 추가, 공지사항, 방명록 페이지 등이 존재합니다.<br>
         부가적인 기능으로는 poi라이브러리를 이용한 통계용 엑셀파일을 생성할 수 있으며
         ajax로 비동기 요청을 통해 얻은 결과를 chart.js api를 이용하여
         차트형식으로 통계를 출력해주는 기능이 존재합니다.
       </p>
      </div>
    </div> -->
    <!--sakila 개인프로젝트-->
    <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-Eclipse">
     <div class="portfolio-links">
      <a href="http://baebae98.kro.kr/sakila/LoginServlet" target="_blank"><img src="assets/img/portfolio-3.png" class="img-fluid" alt=""></a>
      <p>
       <h4>
         <a class="portfolio-links" href="https://github.com/baebae98/sakila" target="_blank">
           [Github Link]
         </a>
       </h4>
     </p>
      <h4>개인 프로젝트 - 비디오 대여점</h4>
       <hr>
         <p>프로젝트 기간 : 2020.10(1주)</p>
       <hr>
         <p>프로젝트 방식 : Model 2</p>
         <p>사용 프로그램 : Eclipse, Mariadb, Github</p>
         <p>사용 언어 : Html, Java, SQL, JavaScript(jquery), JDBC, JSTL, bootstrap</p>
       <hr>
       <p>
         [프로젝트 설명]<br>
         mySql의 샘플 데이터베이스 Sakila 데이터베이스와 Model2 기법으로 제작한 비디오 대여점 프로젝트입니다.<br>
         비디오 대여점을 관리하는 프로그램으로써 주 기능으로는 비디오 대여, 반납, 관리와 회원, 출연 배우 관리등이 존재하며<br>
         Model1과는 다르게 모델,컨트롤러,뷰 를 나누어서 작업이 진행되었으며 처음으로 필터와 리스너 기능을 사용한 프로젝트이기도 합니다.
     </div>
    </div> -->
    <!--mall-->
    <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-Eclipse">
      <div class="portfolio-links">
       <a href="http://baebae98.kro.kr/mall/" target="_blank"><img src="assets/img/portfolio-4.PNG" class="img-fluid" alt=""></a>
       <p>
        <h4>
          <a class="portfolio-links" href="https://github.com/baebae98/mall" target="_blank">
            [Github Link]
          </a>
        </h4>
      </p>
       <h4>개인 프로젝트 - 쇼핑몰</h4>
       <hr>
         <p>프로젝트 기간 : 2020.09(1주)</p>
       <hr>
         <p>프로젝트 방식 : Model 1</p>
         <p>사용 프로그램 : Eclipse, Mariadb, Github</p>
         <p>사용 언어 : Html, Java, SQL, JavaScript(jquery), JDBC, JSTL, bootstrap</p>
       <hr>
       <p>
         [프로젝트 설명]<br>
         Model1 방식으로 만든 쇼핑몰 프로젝트 입니다.<br>
         일반 쇼핑몰 페이지처럼 로그인, 회원가입, 마이페이지, 장바구니, 개인정보 수정, 회원탈퇴등의 사용자 기능이 존재하며
         사용자는 물건을 구매, 취소할 수 있는 전형적인 쇼핑몰 페이지 입니다.
       </p>
      </div>
    </div> -->
    <!--mall admin-->
    <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-Eclipse">
      <div class="portfolio-links">
       <a href="http://baebae98.kro.kr/mall-admin/" target="_blank"><img src="assets/img/portfolio-5.png" class="img-fluid" alt=""></a>
       <p>
        <h4>
          <a class="portfolio-links" href="https://github.com/baebae98/mall-admin" target="_blank">
            [Github Link]
          </a>
        </h4>
      </p>
       <h4>개인 프로젝트 - 쇼핑몰 관리자</h4>
       <hr>
         <p>프로젝트 기간 : 2020.09(1주)</p>
       <hr>
         <p>프로젝트 방식 : Model 1</p>
         <p>프로젝트 도구 : Eclipse, Mariadb, Github</p>
         <p>사용 언어 : Html, Java, SQL, JavaScript(jquery), JDBC, JSTL, bootstrap</p>
       <hr>
       <p>
         [프로젝트 설명]<br>
         Model1 방식으로 제작한 첫 프로젝트인 쇼핑몰 관리 페이지 입니다.<br>
         이후 제작한 쇼핑몰 페이지를 관리하는 관리자 페이지로써,
         회원 관리, 카테고리 관리, 상품 관리, 주문내역 관리, 공지사항 관리등의 작업을 할 수 있습니다.
       </p>
      </div>
    </div> -->
    <!--employees 개인프로젝트-->
    <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-JSP">
      <div class="portfolio-links">
       <a href="http://baebae98.kro.kr/employees/" target="_blank"><img src="assets/img/portfolio-6.png" class="img-fluid" alt=""></a>
       <p>
        <h4>
          <a class="portfolio-links" href="https://github.com/baebae98/employees" target="_blank">
            [Github Link]
          </a>
        </h4>
      </p>
       <h4>개인 프로젝트 - Employees</h4>
       <hr>
         <p>프로젝트 기간 : 2020.08(1주)</p>
       <hr>
         <p>프로젝트 방식 : JSP</p>
         <p>프로젝트 도구 : Eclipse, Mariadb</p>
         <p>사용 언어 : Html, Java, SQL, bootstrap</p>
       <hr>
       <p>
         [프로젝트 설명]<br>
         JAVA와 JSP를 배우면서 처음으로 제작한 프로젝트입니다.<br>
         회사내 직원, 부서, 급여 등의 정보들을 조회하거나 검색할 수 있습니다.
       </p>
      </div>
    </div>
</div>

</div>
</section> -->
    <!-- End Portfolio Section -->

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="container section-title">
          <h2>CONTACT ME</h2>
          <h4>포트폴리오를 끝까지 봐주셔서 감사합니다.</h4>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="container col-lg-10 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>서울특별시 송파구</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>piskk74@naver.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>010-2636-0764</p>
              </div>

              <div class="phone">
                <i class="fab fa-github-square"></i>
                <h4>Github:</h4>
                <p><a href="https://github.com/baebae98" target="_blank">https://github.com/baebae98</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>iPortfolio</span></strong>
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="assets/vendor/counterup/counterup.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/venobox/venobox.min.js"></script>
<script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="assets/vendor/typed.js/typed.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>