---
layout: archive
breadcrumbs: false
---

{{ content }}

<!--{% assign sum = site.posts | size %}-->

<!--<h3 class="archive__subtitle">-->
<!--  <span style="font-family:KCC-Ganpan',KCC-Ganpan,serif;">전체 글 수</style>-->
<!--  <span style="font-family:KCC-Ganpan',KCC-Ganpan,serif;">{{sum}}</style>-->
<!--  <span style="font-family:KCC-Ganpan',KCC-Ganpan,serif;">개</style>-->
<!--</h3>-->
<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->

{% assign posts = site.posts %}


{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %} <br/>
  {% endfor %}
</div>



